/*
 * Feature PDF CSS
 */

.page {
  page-break-after: always;
}
body.wordWrap pre,
pre {
  padding: 0rem;
  margin: 0 0 0 0;
  page-break-inside: avoid;
  background-color: white;
  white-space: pre-line; /* css-3 */
}

h1,
h2 {
  margin-block-start: 0.3em;
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h3 {
  font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New",
    monospace, "Droid Sans Fallback";
  margin-block-start: 0em;
  margin-block-end: 0.05em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 32px;
}

pre:not(.hljs),
pre.hljs code > div {
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
  border-radius: 3px;
  overflow: auto;
  margin: 0.25rem 0.25rem 0.15rem 0.25rem;
}

.hljs,
.code {
  margin: 0 0 0 0;
  display: block;
  overflow-x: auto;
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
  color: rgb(70, 54, 54);
  background: white;
}

/* ==========================================================================
      markup for markdown-pdf component (code highlight)
      ========================================================================== */

.hljs-keyword {
  font-weight: italic;
}
.hljs-variable {
  font-weight: bold;
}

.gherkin_tag {
  color: rgb(187, 23, 132);
  font-style: italic;
  margin-block-start: 1em;
  margin-block-end: 0em;
  margin-bottom: 0;
  margin-top: 1em;
}
.hljs,
.code {
  display: block;
  overflow-x: auto;
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
  color: rgb(70, 54, 54);
  background: white;
}

p {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0;
}
